.main-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
.RegisterBox{
    font-family: 'Kanit', sans-serif;
}
h1 {
    font-size: 200px;
}

.Register-form {
    width: 50%;
    margin: 0 auto;
}
.login-form{
    font-family: 'Kanit', sans-serif;
    
}